body {
    margin: 0px;
    padding: 0px;
    color: white;
    font-weight: 600;
    font-size: 0.95rem;
    font-family: "Josefin Sans", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    background-color: black;
}

@media screen and (max-width: 2129px) and (min-width: 1051px) {
    .play {
        margin-right: 0.6rem;
    }

    #searchTerm {
        min-width: 20rem !important;
    }

    /* .hid1 {
        display: none;
    }*/

    .Lib {
        height: 23rem !important;
    }

    #main {
        height: 87vh !important;
    }
}

@media screen and (max-width: 1050px) and (min-width: 1008px) {
    .show-all {
        margin-right: 2rem !important;
    }

    .play {
        margin-right: 0.1rem !important;
    }

    /* .hid1 {
        display: none;
    } */
    .searchTerm {
        min-width: 25rem !important;
    }

    #main {
        height: 92.5vh !important;
    }
}

@media screen and (max-width: 1007px) and (min-width: 965px) {
    #spotify-playlist {
        flex-direction: row !important;
    }

    .play {
        margin-left: -6rem !important;
    }

    /* .hid1 {
        display: none;
    } */
    .searchTerm {
        width: 25rem !important;
    }

    #main {
        height: 92.3vh !important;
    }
}

@media screen and (max-width: 964px) and (min-width: 872px) {
    .play {
        margin-right: 1.8rem;
    }

    /* .hid1,
    .hid2 {
        display: none;
    } */
    .searchTerm {
        width: 20rem !important;
    }

    #main {
        height: 92.4vh !important;
    }
}

@media screen and (max-width: 871px) and (min-width: 813px) {
    .play {
        margin-right: 1rem;
    }

    /* .hid1,
    .hid2 {
        display: none;
    } */
    .searchTerm {
        width: 20rem !important;
    }

    #main {
        height: 91.8vh !important;
    }
}

@media screen and (max-width: 810px) and (min-width: 694px) {
    .play {
        margin-right: 3.3rem;
    }

    #main {
        height: 90.1vh !important;
    }

    /* .hid1 {
        display: none;
    } */
    .searchTerm {
        width: 15rem !important;
    }
}

@media screen and (max-width: 693px) and (min-width: 582px) {
    .play {
        margin-right: 1rem;
    }

    #sign {
        width: 100% !important;
        position: absolute;
        right: 0;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .playPlaylist{
        max-width: 90% !important;
    }
    #sidebar {
        display: unset !important;
    }

    #sr {
        display: none;
    }

    #sidebar {
        display: unset !important;
    }

    .searchTerm {
        width: 15rem !important;
    }
    #main{  
        margin-top: 0 !important;
        margin-right: 0 !important;
    }
}

@media screen and (max-width: 581px) and (min-width: 544px) {
    .play {
        margin-right: 1rem;
    }

    #sign {
        width: 100% !important;
        position: absolute;
        right: 0;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    #sidebar {
        display: unset !important;
    }
    .playPlaylist{
        max-width: 87% !important;
    }
    #sr {
        display: none;
    }

    article {
        margin-left: 0.6rem !important;
        margin-right: 0.6rem !important;
        margin-bottom: 2rem !important;
    }

    .searchTerm {
        width: 20rem !important;
    }
    #main{ 
        margin-top: 0 !important;
        margin-right: 0 !important;
    }
}

@media screen and (max-width: 543px) and (min-width: 412px) {
    .play {
        margin-right: 2.9rem;
    }

    #sign {
        width: 100% !important;
        position: absolute;
        right: 0;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    #sidebar {
        max-width: 80% !important;
    }
    .playPlaylist{
        width: 87% !important;
        font-size: 0.9rem;
    }

    #sr {
        display: none;
    }

    .top-list {
        margin-left: 0.65rem !important;
        margin-right: 0.7rem !important;
        margin-bottom: 2rem !important;
    }

    #play-icon {
        display: flex;
        flex-wrap: wrap;
        margin-bottom: 1rem;
        margin-top: 0.5rem;
    }

    #play-icon img {
        width: 2.2rem !important;
        height: 2.2rem !important;
    }

    #play-icon audio {
        width: 22rem !important;
        height: 1.7rem !important;
    }

    body #emojiPicker {
        width: 2rem !important;
        height: 2rem !important;
        /* right: rem !important; */
    }

    #main {
        margin-top: 0 !important;
        margin-right: 0 !important;
        height: 89vh !important;
    }
}

@media screen and (max-width: 412px) and (min-width: 364px) {
    .play {
        margin-right: -0.2rem !important;
    }

    #main {
        margin-top: 0 !important;
        height: 87.7vh !important;
        margin-right: 0 !important;
    }

    #sign {
        width: 100% !important;
        margin-right: 0;
        position: absolute;
        right: 0;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .playPlaylist{
        max-width: 87% !important;
        font-size: 0.8rem;
    }
    .top-list{
        transform: scale(1.085);
    }

    #sr {
        display: none;
    }

    #sidebar {
        display: unset !important;
    }

    .example {
        margin-right: 0rem !important;
    }

    .top-list {
        margin-left: 0.65rem !important;
        margin-right: 0.65rem !important;
        margin-bottom: 1.2rem !important;
    }

    #play-icon {
        display: flex;
        flex-wrap: wrap;
        margin-bottom: 1rem;
        margin-top: 0.5rem;
    }

    #play-icon img {
        width: 2.2rem !important;
        height: 2.2rem !important;
    }

    #play-icon audio {
        width: 22rem !important;
        height: 1.7rem !important;
    }

    body #emojiPicker {
        width: 2rem !important;
        height: 2rem !important;
        right: 1rem !important;
    }

    /* .searchTerm{
        width: 5rem !important;
    } */
}

@media screen and (max-width: 363px) and (min-width: 327px) {
    .play {
        margin-right: 9.6rem !important;
    }

    article {
        margin-left: 6rem !important;
    }

    .top-list {
        margin-left: 3rem;
    }

    .play {
        display: none;
    }
    .top-list{
        transform: scale(1.13);
    }

    #sr {
        display: none;
    }

    #sidebar {
        display: unset !important;
    }
    .playPlaylist{
        max-width: 87% !important;
        font-size: 0.8rem;
    }
    #emoji-container{
        width: 9rem;
    }

    #sign {
        width: 100% !important;
        margin-right: 0rem;
        position: absolute;
        right: 0;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    #play-icon {
        display: flex;
        flex-wrap: wrap;
        margin-bottom: 1rem;
        margin-top: 0.5rem;
    }

    #play-icon img {
        width: 2.2rem !important;
        height: 2.2rem !important;
    }

    #play-icon audio {
        width: 22rem !important;
        height: 1.7rem !important;
    }

    body #emojiPicker {
        width: 2rem !important;
        height: 2rem !important;
        right: 1rem !important;
    }
    #main{
        margin-top: 0 !important;
        margin-right: 0 !important;
    }
}

@media screen and (max-width: 326.9px) and (min-width: 150px) {
    body {
        font-size: 11px;
    }

    #main {
        min-width: 240px;
    }

    .play {
        margin-right: 2.9rem !important;
    }

    .play i {
        font-size: 50px;
    }

    #sign {
        width: 100% !important;
        margin-right: 0;
        position: absolute;
        right: 0;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    #sidebar {
        display: unset !important;
    }
    .playPlaylist{
        font-size: 0.75rem;
        max-width: 85% !important;
    }

    #sr {
        display: none;
    }

    #spotify {
        font-size: 19px !important;
    }

    #but3 {
        position: absolute;
        margin-left: 3rem !important;
        margin-top: -1.2rem !important;
    }

    .nav {
        min-width: 100%;
    }

    #but2 {
        display: none;
    }

    #play-icon {
        display: flex;
        flex-wrap: wrap;
        margin-bottom: 1rem;
        margin-top: 0.5rem;
    }

    #play-icon img {
        width: 2.2rem !important;
        height: 2.2rem !important;
    }

    #play-icon audio {
        width: 22rem !important;
        height: 1.7rem !important;
    }
    #main{
        margin-top: 0 !important;
        margin-right: 0 !important;
    }

    body #emojiPicker {
        width: 1rem !important;
        height: 1rem !important;
        right: 1rem !important;
    }

    #emoimg {
        height: 95%;
        width: 95%;
    }
}

a {
    text-decoration: none;
    color: white;
}
.spotify1{
    position: relative;
}

.spotify1 img {
    height: 1.7rem;
    width: 1.7rem;
    margin-top: 1rem;
    margin-bottom: 0.1rem;
    margin-left: 0.5rem;
    pointer-events: fill;
}

.spotify1 span {
    position: absolute;
    margin-top: 1.44rem !important;
}

.page {
    height: 100vh;
    display: flex;
    background-color: black;
}

.page-content {
    display: flex;
    flex-direction: column;
    margin: 0.1rem;
    padding: 0.5rem !important;
}

#sr {
    width: 22.4%;
    min-width: 220px;
}

.content {
    height: 7rem;
    overflow: auto;
    -webkit-box-direction: normal;
}

.example::-webkit-scrollbar {
    background-color: transparent;
    display: none;
    position: absolute;
    border-radius: 2px;
    width: 0.5rem !important;
    color: white;
    scrollbar-width: 0rem;
}

.example::-webkit-scrollbar-thumb {
    background: #393939;
    border-radius: 9px;
}

.aside {
    height: 9.6rem !important;
    background-color: #121212;
    margin-bottom: 0.6rem;
    overflow: auto;
    height: 6.8rem;
    padding-left: 1rem;
    border-radius: 0.5rem;
}

.icon {
    margin: 0.2rem;
    padding: 0.5rem;
    line-height: 2rem;
}

.Lib {
    flex: 1;
    background-color: #121212;
    flex-grow: 2;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* prince */
    padding: 0.3rem;
    border-radius: 8px;
    margin-bottom: 5rem;
}

.library {
    padding: 0.7rem;
    font-weight: 760;
}

.hover1 {
    color: gray;
}

.hover1:hover {
    color: white;
}

#left1 {
    padding-left: 0.6rem;
}

#p2 {
    font-size: 0.9em;
    color: rgb(226, 225, 225);
    font-weight: 100;
}

#left1 i {
    font-size: 1.2em;
    padding-right: 0.7rem;
}

#cutsidebar {
    font-size: 1.6em;
    color: #898989;
    position: absolute;
    right: 0.4rem;
    padding-top: 0.4rem;
    padding-right: 0.4rem;
    display: none;
}

#cutsidebar i:hover {
    background-color: #ee3131;
    border-radius: 50%;
}

.plus,
#plus1 {
    font-size: 1.1rem;
}

#libo {
    color: gray;
    display: flex;
    justify-content: space-between;
}

.but {
    height: 1.9rem;
    border: none;
    width: 8rem;
    background-color: white;
    color: black;
    overflow: hidden;
    font-weight: 795;
    margin-top: 0.6rem;
    border-radius: 25px;
}

.but:hover {
    transform: scale(1.05);
    background-color: rgb(231, 230, 230);
    font-weight: 550;
}

.privacy {
    font-size: 0.71rem;
    font-weight: 100;
    color: rgb(146, 146, 146);
    padding-left: 1.2rem;
    margin-top: 1.3rem;
}

#english {
    display: flex;
    border: 1px solid gray;
    justify-content: space-around;
    height: 1.4rem;
    align-items: center;
    border-radius: 25px;
    margin-top: 2.2rem;
    padding: 0.3rem;
    margin-left: 1.48rem;
    width: 5.1rem;
    font-size: 0.9rem;
}

#english select {
    background-color: #121212;
    color: white;
    border: 0px;
    width: 95%;
    cursor: pointer;
    border: none;
    outline: 0px;
}

#english select option {
    background: #121212;
    color: black;
    border: 1px solid gray;
    cursor: pointer;
}

#english:hover {
    border-color: white;
    transform: scale(1.05);
}

.icon i {
    font-size: 1.2rem;
    color: white;
    margin-right: 0.85rem;
}

#main {
    flex: 1;
    color: white;
    flex-grow: 1;
    overflow: auto;
    margin-top: 0.61rem;
    margin-right: 0.58rem;
    border-radius: 8px;
    background-color: #1d1d1d;
    position: relative;
    height: 85vh;
}

body #emojiPicker {
    background: linear-gradient(#ee3131, #3847ed);
    padding: 1rem;
    border-radius: 50%;
    position: fixed;
    height: 3rem;
    width: 3rem;
    z-index: 10;
    right: 2rem;
    bottom: 7rem;
    cursor: pointer;
}

body #cross1 {
    position: absolute;
    background: #1d1d1d;
    padding: 0.2rem;
    border-radius: 50%;
    top: 0;
    right: 0;
    width: 1rem;
    height: 1rem;
}

#emoimg {
    height: 100%;
    width: 100%;
}

#emoji-explainer {
    display: none;
    background: linear-gradient(black, rgb(36, 36, 36));
    padding: 0.5rem;
    border-radius: 25px;
    position: fixed;
    z-index: 10;
    right: 7.3rem;
    bottom: 8rem;
}

.nav {
    display: flex;
    position: sticky;
    flex-direction: row;
    top: -0.15rem;
    justify-content: space-between;
    align-items: center;
    height: 4rem;
    background-color: #121212;
    width: 100%;
    margin-bottom: 0.1rem;
    overflow: hidden;
    z-index: 5;
}

.apr,
#nextbtn {
    display: flex;
    margin-left: 1.1rem;
}

.approw,
#prevbtn,
#nextbtn {
    height: 2rem;
    width: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    color: gray;
    margin-left: 0.4rem;
    font-size: 1.3em;
    border-radius: 50%;
    background-color: rgb(10, 10, 10);
    cursor: pointer;
}

#but2 {
    height: 2.5rem;
    border: none;
    background-color: #121212;
    color: gray;
    font-weight: 600;
    margin-left: 1rem;
    width: 5rem;
    font-size: 1.01em;
}

#but3 {
    height: 2.7rem;
    border: none;
    background-color: #fffefe;
    width: 6rem;
    font-size: 1em;
    font-weight: 600;
    margin-left: 1.8rem;
    border-radius: 25px;
}

#but3:hover {
    transform: scale(1.05);
}

#but2:hover {
    color: white;
    transform: scale(1.05);
}

article audio {
    position: relative;
    display: none;
}

#sign {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    width: 100%;
    color: white;
}

#sign #span {
    flex-grow: 1;
    display: flex;
    padding-left: 1rem;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
}

#sidebar {
    margin-left: 1.5rem;
    font-size: 1.5rem;
    display: none;
}

#searchTerm {
    color: white;
    font-weight: 500;
    font-size: 1.1rem;
    width: 60%;
    height: 2.5rem;
    padding-left: 1rem !important;
    background-color: #121212;
    border: 0.1rem solid #3c3c3c;
    border-radius: 25px;
    right: 0;
}

#searchTerm:active {
    border: 0.1rem solid #242323;
}

#searchTermBtn {
    margin-right: 0.8rem;
    font-size: 1.4rem;
    color: white;
    background: transparent;
    border: none;
}

#songs {
    display: flex;
    flex-wrap: wrap;
    min-height: 40vh;
    justify-content: space-evenly;
}

.songs {
    margin-top: 0.1rem;
    background-color: #1d1d1d;

    /* padding-right: 1rem; */
}

#spotify {
    display: inline-block;
    cursor: pointer;
    font-size: 1.4rem;
    width: 100%;
    margin-top: 2rem;
    margin-left: 1.5rem;
}

#spotify:hover {
    text-decoration: underline;
}

article {
    margin-top: 1.5rem;
    margin-left: 0.8rem !important;
    margin-right: 0.8rem !important;
    margin-bottom: 1.5rem;
}

.top-list img {
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
    margin-top: 1rem;
    width: 8.95rem;
    height: 9.1rem;
}

.fir-head {
    display: flex;
    justify-content: space-between;
}

.show-all {
    margin-top: 0.7rem;
    color: gray;
    margin-right: 0.6rem;
}

.show-all:hover {
    text-decoration: underline;
}

.top-list {
    cursor: pointer;
    width: 10rem;
    height: 17rem;
    background-color: #181717;
    padding-left: 1rem;
    border-radius: 8px;
    margin-bottom: 1rem;
    margin-left: 1rem;
    margin-right: 1rem;
    z-index: 3;
}

article {
    margin-left: 0.46rem;
    min-height: 18rem !important;
    margin-right: 0.43rem;
    margin-bottom: 2rem !important;
}

.top-list:hover {
    background-color: #2d2d2d;
    display: inline-block;
    z-index: 1;
}

.heading {
    margin-top: 0.9rem;
}

article h4 {
    margin-top: -0.17rem;
}

.play {
    background-color: black;
    height: 2.86rem;
    width: 2.8rem;
    margin-top: 6.8rem;
    border: 2px solid #05a810;
    font-size: 2.9em;
    margin-left: -6.9rem;
    border-radius: 35px;
    z-index: 2;
}

.play:hover {
    z-index: 4;
}

.sub-heading,
article p {
    margin-top: 0.4rem;
    line-height: 1.4rem;
    color: gray;
    font-size: 0.9em;
}

#playlist {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    gap: 1rem !important;
    background-color: #242323;
    max-height: 40%;
    overflow-y: auto;
    overflow-x: hidden;
}

/* #playlist::-webkit-scrollbar {
    display: none;
  } */
#playlist::-webkit-scrollbar {
    background-color: transparent;
    border-radius: 2px;
    width: 0.3rem !important;
    color: white;
    scrollbar-width: 0rem;
}

#playlist::-webkit-scrollbar-thumb {
    background: #393939;
    border-radius: 9px;
}

.playPlaylist {
    display: flex;
    justify-content: space-between;
    padding-left: 1rem;
    padding-right: 1rem;
    align-items: center;
    background-color: #070707a6;
    width: 95% !important;
    height: 4rem;
    margin-top: 0.6rem;
    border-radius: 10px;
    cursor: pointer;
}

.playPlaylist:hover {
    background-color: #2d2d2d;
}

.playPlaylist audio {
    display: none;
}

.playPlaylist img {
    width: 2rem;
    height: 2rem;
}

.playPlaylist p {
    font-size: 0.8em;
    color: #6a6a6a;
}

#info {
    background-color: #1d1d1d;
    display: flex;
    overflow: hidden;
    justify-content: space-evenly;
    flex-wrap: wrap;
    padding-left: 0.8rem;
}

.company {
    margin-top: 4.6rem;
    text-align: center;
    margin-left: 0.8rem;
}

.company ul {
    padding-left: 0;
}

.company li {
    list-style: none;
    color: gray;
    line-height: 2rem;
}

.insta {
    display: flex;
    right: 0px;
}

.insta i {
    margin-right: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2em;
    background-color: #393939;
    width: 2.45rem;
    height: 2.45rem;
    border-radius: 50%;
}

.insta i:hover {
    background-color: gray;
}

.copyright {
    height: 5rem;
    margin-top: 2.6rem;
    margin-left: 1.5rem;
    color: grey;
    font-size: 0.98em;
}

#footer {
    position: fixed;
    bottom: 0;
    height: 4.3rem;
    width: 100vw;
    background: rgb(0, 0, 0);
    overflow: hidden;
    z-index: 5;
    display: flex;
    flex-direction: column;
    justify-content: center !important;
}

#play-icon {
    display: flex;
    justify-content: center;
    align-items: center;
}

#play-icon i {
    font-size: 1.3em;
    color: rgb(215, 214, 214);
    margin-left: 1rem;
}

#play2 {
    font-size: 2.3em;
    color: white;
}

#play-icon i:hover {
    transform: scale(1.08);
    color: white;
}

#speed {
    width: 70%;
    height: 0.1rem;
    opacity: 0.7;
    margin-top: 0.5rem;
}

#speed::-webkit-slider-runnable-track {
    height: 0.2rem;
    background-color: gray;
    cursor: pointer;
    border-radius: 25px;
}

#speed::-webkit-slider-thumb {
    display: none;
}

.cursor {
    cursor: pointer;
}

#emoji-container {
    display: none;
    /* width: 10rem; */
    position: absolute;
    z-index: 7;
    cursor: pointer;
    gap: 2rem;
    flex-wrap: wrap;
    background: linear-gradient(black, rgb(50, 50, 50));
    padding: 1.5rem;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 25px;
}

#emoji-container #cross {
    background: radial-gradient(black, rgb(33, 33, 33));
    border-radius: 50%;
    padding: 0.5rem;
    position: absolute;
    right: -0.8rem;
    top: -0.8rem;
    width: 1.5rem;
    height: 1.5rem;
}

.emoji {
    text-align: center;
    cursor: pointer;
}

.emoji img {
    height: 3.2rem;
    width: 3.2rem;
}

.emoji div {
    width: 3.2rem;
    text-align: center;
}

#loader {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -90%);
    position: absolute;
}